      <h4>登録業者</h4>
      <table class="table mx-auto mt-4">
        <thead>
          <tr>
            <th>会社名</th>
            <th>対応可能エリア</th>
            <th>対応可能機器</th>
          </tr>
        </thead>
        <% traders.each do |trader| %>
        <tbody>
          <tr>
            <td><%= link_to trader.company_name, trader_path(trader) %></td>
            <td><%= trader.areas.map(&:compatible_area).join(" ／ ") %></td>
            <td><%= trader.machines.map(&:possible_machine).join(" ／ ") %></td>
          </tr>
        </tbody>
        <% end %>
      </table>