<section class="container">
  <div class="row">
    <div class="col-md-8 my-5">
      <%= image_tag('Admin.jpg', style: 'width: 100%; height: 100%;') %>
    </div>
    <div class="col-md-4 my-5">
      <div class="py-5">
        <%= link_to '対応可能機器',machines_path, class: "btn btn-primary btn-sm btn-block my-5" %>
      </div>
      <div>
          <%= link_to '対応可能エリア',areas_path, class: "btn btn-success btn-sm btn-block" %>
      </div>
    </div>
  </div>
</section>