<section class="container trader_top">
  <div class="row">
    <div class="col-md-8">
      <%= image_tag('top1.jpg', style: 'width: 100%; height: 100%;') %>
    </div>
    <div class="col-md-4 py-5 text-white">
      <div class="py-4">
          <%= link_to '対応可能機器',machines_path, class: "btn btn-warning btn-sm btn-block mb-3 sign_in" %>
      </div>
      <div>
          <%= link_to '対応可能エリア',machines_path, class: "btn btn-danger btn-sm btn-block sign_up" %>
      </div>
    </div>
  </div>
</section>