<div class="container">
  <div class="row" >
    <%= image_tag('top1-4.jpg', style: 'width: 100%; height: 100%; filter: grayscale(70%);') %>


    <div class="col-md-6 offset-md-3 ">
      <h1 class="text-center">プロが見つかる</h1>
      <p class="text-center">エア職は本物のプロを<strong>'すぐに'</strong>つなぐサービス</p>
      </div>
  </div>
</div>

<div class="container">
  <div class="card-deck">
    <div class="card">
      <%= image_tag '2.jpg', class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title">エアコン取付業者をお探しの方</h5>
          <p class="card-text">簡単な入力だけで、あなたにぴったりの’PRO’業者が見つかります</p>
        </div>
    </div>
    <div class="card">
      <%= image_tag '4.jpg', class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title">エアコン取付業者の方</h5>
          <p class="card-text">会社の情報を登録しておくだけで、Web集客が可能となり<br>お客様から'直接’仕事うけられます</p>
        </div>
    </div>
  </div>
</div>