<div class="container ">
  <div class="row">
    <div class="jumbotron text-white bg_top relative w-100">
      <%#= image_tag('Top2-navy.jpg', style: 'height: 100%; filter: grayscale(70%);') %>
      <div style="position: absolute; top: 70%; right: 18%; text-align: center;">
      
        <h1><strong>プロが見つかる</strong></h1>
        <h5>エア職は本物のプロを<strong>”すぐに”</strong>つなぐサービス</h5>
      </div>
    </div>
  </div>
</div>
<div class="container mt-3">
  <div class="card-deck">
    <div class="card">
      <%= image_tag '2.jpg', class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">エアコン取付業者をお探しの方</h5>
        <p class="card-text">簡単な入力だけで、あなたにぴったりの’PRO’業者が見つかります</p>
      </div>
    </div>
    <div class="card">
      <%= image_tag '4.jpg', class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title">エアコン取付業者の方</h5>
        <p class="card-text">会社の情報を登録しておくだけで、Web集客が可能となり<br>お客様から'直接’仕事うけられます</p>
      </div>
    </div>
  </div>
</div>