@use '~bootstrap/scss/bootstrap';

.card-text {
  font-size: 13px;
}

.search_card {
  font-size: 13px;
}

.trader_top {
   background: #3598db;
 }

.bg_top {
  background-image: url(../images/Top2-navy.jpg);
  height: 80vh;
  background-size: cover;
  margin-top: 20px;
}