<div class='container'>
  <div class= "row">
    <div class='col-md-8 offset-2'>
      
      <%= render 'trader/traders/index', traders: @traders %>
      
      <%= paginate @traders %>
    </div>
  </div>
</div>